.booking-card {
  position: relative;
  width: 300px;
  height: 355px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 4px lightgrey;
  background-color: white;

  .card-img-top{
    border-radius: 15px 15px 0px 0px;
  }

  .card-title {
    font-weight: bolder;
    color: #E27E7E;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
  }

  .specie {
    color: black;
    font-size: 1rem;
    padding-left: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .bookings-dates {
    font-family: Open Sans;
    font-size: 14px;
    padding-left: 20px;

    strong {
      font-size: 14px;
    }
  }
  .validation {
    display: flex;
    position: absolute;
    left: 5px;
    bottom: 20px;
  }
}

.status {
      font-weight: bolder;
      margin-left: 20px;
      border-radius: 5px;
    }

.button-container {
  width: 100px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.status-two {
  font-weight: bolder;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.black-typo {
  color: #383838;
}


.pending {
        color: white;
        background-color: #FFC65A;
        padding: 0px 10px;
      }

.validated {
    color: white;
    background-color: #58d358;
    padding: 0px 10px;
  }

.denied {
    color: white;
    background-color: #ff5b5b;
    padding: 0px 10px;
  }

.card-product {
  overflow: hidden;
  height: 120px;
  max-width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;

  .card-img-top {
  height: 100%;
  width: 120px;
  object-fit: cover;
  }

  .card-product-infos {
    margin-top: -8px;
    position: relative;


    .infos-dates {
      font-size: 16px;
    }
  }
}
.resquest-avatar {
  position: absolute;
  top: 18px;
  left: 55px;
}

.info-text {
  font-size: 16px;
  position: absolute;
  left: 260px;
  top: 15px;
}


.dates-bookings {
  position: absolute;
  top: 50px;
  left: 260px;
}

.total-amount-booking-index {
  position: absolute;
  top: 80px;
  left: 260px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.goat-listing {
    margin-bottom: 100px;

  .btn-outline-primary {
    position: initial;
  }

  .book-a-new-goat {
    margin-top: 30px;
  }

  .add-a-new-goat {
    margin-top: 30px;
  }

}

.line {
  height: 1px;
  width: 300px;
  background-color: lightgrey;
  margin-left: 20px;
  margin-bottom: 50px;
}

.boutons-validation {
  position: absolute;
  top: 25px;
  right: 50px;
  display: flex;
}

.button-valid-1 {
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  a {
    color: green;
    font-size: 15px;
  }
}

.button-valid-2 {
  margin-top: 10px;
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  a {
    color: red;
    font-size: 15px;
  }
}
