.my-goats-card {
  color: rgb(10, 10, 10);
  width: 300px;
  height: 280px;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: 2px 2px 4px lightgrey;
  background-color: white;
  text-decoration: none;
  .card-img-top{
    border-radius: 15px 15px 0px 0px;
  }

  .card-title {
    font-weight: bolder;
    color: #E27E7E;
    margin-bottom: 0;
  }

  .daily-price {
    margin-bottom: 0px;
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    left: 20px;

    span {
      font-size: 30px;
      font-weight: bolder;
    }
  }
}

.goat-card-cheptel:hover {
  text-decoration: none;
}

.mygoats-title {
  position: relative;
    margin-top: 25px;
  h1 {
    color: $pink
  }

  p {
    font-weight: lighter;
  }
}

.link-to-new-goat {
  position: absolute;
  right: 20px;
  top: 5px;
}

.btn-flat-cheptel {
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 20px;
  border-radius: 10px;
  background: $pink;
  border-color: $pink;
  transition: background 0.3s ease;
  border: 1px solid $pink;
}

.btn-flat-cheptel:hover {
  background: white;
  color: $pink;
  text-decoration: none;
}

