.card-owner {
  width: 300px;
  height: 330px;
  margin: 30px 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px lightgrey;
  background-color: white;
  img {
    margin: 5px;
  };
  h5 {

  }
}

.flex-box {
  ;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.whole-container {
  position: absolute;
  &.top-left {
    position: relative;
    top: 20px;
    left: 20px;
  };

  &.top-right {
    position: relative;
    top: 20px;
    right: 20px;
  };

  &.bottom-left {
    position: relative;
    bottom: 20px;
    left: 20px;
  }

  &.bottom-right {
    position: relative;
    bottom: 20px;
    right: 20px;
  }
}

.calendar {
  // position: absolute;
  margin-left: 30px;
  max-width: 600px;
  min-width: 250px;
  justify-text: right;
  position: relative;
  .btn-flat {
    position: absolute;
    bottom: 20px;
    right: 20px;
  };
}

// Va servir pour le owner

#total_amount {
  font-weight: bolder;
}

