.log-container-signup {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  a {
    text-decoration: none;
    color: rgb(60, 60, 60);
  }
}

.log-div-signup {
  // margin-top: 150px;
  background-color: white;
  border-radius: 8px;
  color: #E27E7E;
  font-family: "Raleway", "Helvetica", "sans-serif";
}
