<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "background.jpg" %>);">
  <div class="container">
    <h1>Mow Different</h1>
    <h2>Rent a goat.</h2>
    <%= link_to "Discover Now", goats_path, class: "btn btn-info btn-home"%>
  </div>
</div>
