.btn-flat {
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  background: $pink;
  border-color: $pink;
  transition: background 0.3s ease;
  border: 1px solid $pink;
}

.btn-flat:hover {
  background: white;
  color: $pink;
  text-decoration: none;
}


