.btn-flat-goat {
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  background: $pink;
  border-color: $pink;
  transition: background 0.3s ease;
  border: 1px solid $pink;
}

.btn-flat-goat:hover {
  background: white;
  color: $pink;
  text-decoration: none;
}

// .btn-outline-primary {
//   border-radius: 8px;
//   position: absolute;
//   bottom: 16px;
//   right: 20px;
//   background-color: $pink;
//   color: white;
//   border-color: #E27E7E;
//   &:hover {
//   color: $pink;
//   border-color: #E27E7E;
//   background-color: white;
//   }
// }
