.index-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.results {
    margin-top: 25px;

  h2 {
    font-size: 30px;
    font-weight: lighter;
  }

  p {
    font-size: 18px;
    color: #E27E7E;
  }
}

.card-container {
  max-width: 1400px;
}

.card {
  width: 300px;
  height: 330px;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: 2px 2px 4px lightgrey;
  .card-img-top{
    border-radius: 15px 15px 0px 0px;
  }

}

.daily-price {
  font-family: Open Sans;
  margin-bottom: 0px;
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  left: 20px;

  span {
    font-size: 30px;
    font-weight: bolder;
  }
}

.card-body {
  position: relative;
}

.card-title {
    font-weight: bolder;
    color: #E27E7E;
    margin-bottom: 0;
}

.card-location {
  position: absolute;
  top: 27px;
  right: 25px;
  font-size: 12px;
  font-weight: lighter;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
}
