.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 6.5vh;
  a {
    text-decoration: none;
    color: #E27E7E;
  }
  ul {
    list-style: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.color-nav {
  color: #E27E7E;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.goat-logo {
  width: 45px;
}
