.my-goats-link {
  color: #E27E7E;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 60px;
  a {
    text-decoration: none;
    color: #E27E7E;
  }
  ul {
    list-style: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.color-nav {
  color: #E27E7E;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.goat-logo {
  width: 45px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #E27E7E;
  // border-bottom: 3px solid #E27E7E;
}
