<div class="container mt-5">
  <div class="row">
    <div class="results col-sm">
      <h2>Search results for:</h2>
    <p><strong>Nantes</strong>, from 05/04/2019 to 10/04/2019</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @goats.each do |goat| %>
      <div class="col-sm">
        <div class="card">
          <div class="card-picture">
            <%= cl_image_tag goat.photo, width: 300, height: 200, crop: :fill, class: 'card-img-top' %>
          </div>
          <div class="card-body">
            <h5 class="card-title"> <%= goat.name %> </h5>
            <p class="card-text"> <%= goat.description %> </p>
            <div class="call-to-action">
              <h5 class="daily-price"> <span><%= goat.daily_price %></span> €/per day</h5>
              <a href="#" class="btn btn-outline-primary">Rent it</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

